/* You can add global styles to this file, and also import other style files */

$theme-colors: (
  "primary": #c2185b
);

$primary: #c2185b;

@import "../node_modules/bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
  color: #fff;
}

.user {
  transform: scale(2.5);
}
