<div class="container my-5">
  <h1>Round {{game.currentRoundPos + 1}}</h1>
  <h3 class="mb-4">Enter scores for round {{game.currentRoundPos + 1}}</h3>

  <h3>Who won?</h3>

  <div class="row">
    <div class="col-6" *ngFor="let player of game.game.players, index as i">
      <mat-card [ngClass]="{'text-primary outline outline-primary' : game.game.rounds[game.currentRoundPos].winner == i}"
                (click)="game.game.rounds[game.currentRoundPos].winner = i" class="mb-3 text-center pt-4">
        <mat-icon class="material-symbols-outlined user mb-3">person</mat-icon>
        <h4 class="mb-0">{{player.name || 'Player ' + (i + 1)}} ({{game.currentRound.winds[i][0]}})</h4>
      </mat-card>
    </div>
  </div>

  <div *ngIf="game.currentRoundWinnerPos !== -1">
    <h3>Winner's Score</h3>

    <mat-card class="mb-3">
      <h4 class="mb-0">{{game.game.players[game.currentRoundWinnerPos].name}}'s Score ({{game.currentRound.winds[game.currentRoundWinnerPos]}})</h4>
      <mat-form-field appearance="standard" class="w-100">
        <mat-label>Score</mat-label>
        <input type="number" autocomplete="off" [(ngModel)]="game.game.rounds[game.currentRoundPos].scores[game.currentRoundWinnerPos]"
               matInput placeholder="Score">
      </mat-form-field>
    </mat-card>

    <div *ngIf="game.game.rounds[game.currentRoundPos].scores[game.currentRoundWinnerPos]">
      <h3>Other player's Scores</h3>
      <div *ngFor="let player of game.game.players, index as i">
        <mat-card class="mb-3" *ngIf="i !== game.currentRoundWinnerPos">
        <h4 class=" mb-0">{{player.name}}'s Score ({{game.currentRound.winds[i]}})</h4>
        <mat-form-field appearance="standard" class="w-100">
          <mat-label>Score</mat-label>
          <input type="number" autocomplete="off" [(ngModel)]="game.game.rounds[game.currentRoundPos].scores[i]"
                 matInput placeholder="Score">
        </mat-form-field>
        </mat-card>
      </div>

      <div class="text-end">
        <button (click)="game.calculateScores()" routerLink="/scores" mat-raised-button color="primary" class="mb-4">Next</button>
      </div>

    </div>
  </div>



</div>
